.category-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 30px;
  margin-top: 50px;
  color: #575757;
}

.category-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
  margin-top: 20px;
}

.category-container li {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px rgb(165, 165, 165);
}

@media screen and (max-width: 813px) {
  .category-container {
    display: block;
  }

  .category-container ul {
    margin-bottom: 30px;
  }
}
